NODE_ENV=development
PORT=8000
MONGODB_URI=mongodb+srv://khang-vu:<pass>@cluster.mongodb.net/dev?retryWrites=true&w=majority
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=change-me-to-strong-secret-256-bit
JWT_EXPIRES_IN=24h